// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#worldmap {
  width: 100%;
  height: 55vh;
}

#countryinfo {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.countrybackgroundimage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.countryname {
  position: absolute;
  left: 25px;
  top: 90px;
  color: #fff;
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
  background-color: #111;
  opacity: 0.7;
	font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.thetime {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

// overrides for bootstrap
.col-sm-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.panel-primary {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.panel {
  border-radius: 0px !important;
	font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.panel-heading {
  font-size: 2em !important;
  border-radius: 0px !important;
  text-align: center;
  color: #FFF !important;
  font-weight: 600 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.panel-heading h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-body {
  background-color: rgba(255, 255, 255, 0.7) !important;
  height: 170px !important;
}