// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#worldmap {
  width: 100%;
  height: 60vh;
}

#countryinfo {
  width: 100%;
  height: 40vh;
}

.countrybackgroundimage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.countryname {
  position: absolute;
  left: 25px;
  top: 90px;
  background: #ddd;
  color: #fff;
  padding: 5px;
  font-size: 20px;
}

// overrides for bootstrap
.col-sm-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.panel-primary {
  height: 20vh !important;
  background-color: #47A3FF !important;
}

.panel {
  border-radius: 0px !important;
}

.panel-heading {
  border-radius: 0px !important;
}

.panel-body {
  background-color: #47A3FF !important;
}