// Place all the styles related to the map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#worldmap {
  width: 100%;
  height: 55vh;
}

#countryinfo {
  margin-top: 20px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.weather-icon{
  max-width:25px;
}

#random_button{
  float:left;
  border-radius: 5px;
  z-index:5;
  padding:10px;
  color:snow;
  background-color:#222;
  opacity:0.5;
  cursor:pointer;
  font-weight:bold;
  left:20px;
  top:100px;
  position:fixed;
}

#new-background{
  float:left;
  border-radius: 5px;
  z-index:5;
  padding:10px;
  color:snow;
  background-color:#222;
  opacity:0.5;
  cursor:pointer;
  font-weight:bold;
  left:20px;
  top:150px;
  position:fixed;
  	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn2 ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn2 ease-in 1;
	animation:fadeIn2 ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
  
  -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
}

#new-background:hover {
  text-decoration: none;
}
#new-background:focus {
  text-decoration: none;
}

.countrybackgroundimage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:3s;
	-moz-animation-duration:3s;
	animation-duration:3s;
  
  -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
}

.countryname {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100vw;
  text-align: center;
  color: #fff;
  padding: 5px;
  font-size: 25px;
  font-weight: 600;
  opacity: 0.9;
  line-height: 26px;
	font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.thetime {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
}

// overrides for bootstrap
.col-sm-3 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.panel-primary {
  background-color: transparent !important;
  border-color: rgba(0, 0, 0, 0.5) !important;
}

.panel {
  border-radius: 0px !important;
	font-family: 'Montserrat', 'Arial', 'sans-serif';
}

.panel-heading {
  font-size: 2em !important;
  border-radius: 0px !important;
  text-align: center;
  color: #FFF !important;
  font-weight: 600 !important;
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.panel-heading h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

.panel-body {
  background-color: rgba(255, 255, 255, 0.7) !important;
  height: 170px !important;
}

.news-panel, .twitter-panel, .youtube-panel {
  overflow-y: scroll;
}

.jvectormap-label {
    position: absolute;
    display: none;
    border: solid 1px #CDCDCD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #292929;
    color: white;
    font-family: sans-serif, Verdana;
    font-size: smaller;
    padding: 3px;
    z-index:11;
 }

/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes fadeIn2 { from { opacity:0; } to { opacity:.5; } }
@-moz-keyframes fadeIn2 { from { opacity:0; } to { opacity:.5; } }
@keyframes fadeIn2 { from { opacity:0; } to { opacity:.5; } }