<div id="countryshow"> <!-- KEEP ME HERE -->
  <div class="countryname-panel">
  </div>
  <div class="row">
    <div class="col-sm-3">
      <div class="panel panel-primary" id="glancecontainer">
        <div class="panel-heading">
          <h3>At A Glance</h3>
        </div>
        <div class="panel-body glance-panel">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary" id="newscontainer">
        <div class="panel-heading">
          <h3>News</h3>
        </div>
        <div class="panel-body news-panel">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary" id="twittercontainer">
        <div class="panel-heading">
          <h3>Twitter</h3>
        </div>
        <div class="panel-body twitter-panel">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="panel panel-primary" id="youtubecontainer">
        <div class="panel-heading">
          <h3>Youtube</h3>
        </div>
        <div class="panel-body youtube-panel">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      </div>
    </div>
  </div>
</div> <!-- KEEP ME HERE -->