        <div class="panel-body twitter-panel">
          <% @tweets.each do |tweet| %>
          <% twit = auto_link("#{tweet.user}" + ": " + "#{tweet.text}") %>
          <%= twit.html_safe %>
            <hr/>
	        <% end %>
        </div>