        <div class="panel-body twitter-panel">
          <% @tweets.each do |tweet| %>
    	      <%= auto_link("#{tweet.user.screen_name}: #{tweet.text}".html_safe) %>
            <hr/>
	        <% end %>
        </div>