<div class="panel-body youtube-panel">

<% if @results %>
	<% @results.map.take(6).each do |vid| %>
		<a href="https://www.youtube.com/watch?v=<%= vid.id %>" target="_blank"><%= vid.title %></a> 
		<hr>
	<% end %>
<% elsif %>
	<%= @message %>
<% end %>

</div>