<div class="row">
  <div class="col-sm-12" id="worldmap">
    <div id='random_button'>Randomize</div>
    <%= render partial: 'map' %>
  </div>
</div>
<div class="row">
  <div id="countryinfo">
    <div id="countryshow"> <!-- KEEP ME HERE -->
      <h2 align="center">Click on a country</h2>
    </div>
  </div>
</div>